* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.main-container {
  min-width: 1400px;
  position: relative;
  display: flex;
  width: 100%;
  min-height: 874px;
  padding: 100px 2% 193px;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: end;
}

main {
  flex-grow: 1;
  padding: 0 0 0 5%;
}

h1 {
  font-weight: 100;
  font-size: 72px;
  color: #fff;
}

h2 {
  font-size: 36px;
  font-weight: 500;
}

h3 {
  font-weight: 500;
  font-size: 30px;
}

input {
  height: 60px;
  border-radius: 3px;
  color: #292929;
}

input::placeholder {
  color: #e5e5e5;
}

button {
  transition: transform 0.2s, background-color 0.2s;
}

.container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  max-width: 1920px;
}

.logo-link {
  font-weight: 900;
  font-size: 36px;
  color: #fff;
  text-decoration: none;
}
